<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newbee.smart_album.dao.mapper.AlbumMapper">

    <insert id="insert" parameterType="com.newbee.smart_album.entity.Album">
        insert into album (name,user_id,cover,create_time,last_edit_time,description,is_default_album,photo_amount)
         VALUES (#{name},#{userId},#{cover},#{createTime},#{lastEditTime},#{description},#{isDefaultAlbum},#{photoAmount})
    </insert>

    <select id="selectDefaultAlbumIdByUserId" resultType="INTEGER">
        select album_id from album where user_id=#{userId} and name='default_album'
    </select>

    <select id="selectDefaultAlbumIdByAlbumId" resultType="INTEGER">
        select album_id from album where user_id=(select user_id from album where album_id=#{albumId}) and name='default_album'
    </select>

    <update id="updatePhotoAmountByAlbumId">
        update album set photo_amount=photo_amount+#{amount} where album_id=#{albumId}
    </update>

    <update id="updateLastEditTimeByAlbumId">
        update album set last_edit_time=#{time} where album_id=#{albumId}
    </update>

    <update id="editAlbumByAlbumId">
        update album set name=#{name},cover=#{cover},description=#{description} where album_id=#{albumId}
    </update>

    <delete id="deleteByAlbumId">
        delete from album where album_id=#{albumId}
    </delete>

    <select id="selectUserIdByAlbumId" resultType="INTEGER">
        select user_id from album where album_id=#{albumId}
    </select>

    <select id="selectIsDefaultAlbumByAlbumId" resultType="INTEGER">
        select 1 from album where album_id=#{albumId} and is_default_album=1
    </select>
</mapper>