<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newbee.smart_album.dao.mapper.PhotoMapper">

    <insert id="insert" parameterType="com.newbee.smart_album.entity.Photo">
        insert into photo (name,suffix,path,description,information,user_id,album_id,likes,is_public,size,width,height,in_recycle_bin,original_time)
         VALUES (#{name},#{suffix},#{path},#{description},#{information},#{userId},#{albumId},#{likes},#{isPublic},#{size},#{width},#{height},#{inRecycleBin},#{originalTime})
    </insert>

    <select id="selectAllByPhotoId" resultType="com.newbee.smart_album.entity.Photo">
        select photo_id,name,suffix,path,description,information,user_id,album_id,likes,is_public,size,width,height,in_recycle_bin,original_time
        from photo where photo_id=#{photoId}
    </select>

    <select id="selectPhotoIdByAlbumId" resultType="INTEGER">
        select photo_id from photo where album_id=#{albumId}
    </select>
    
    <update id="updateAlbumIdByPhotoId">
        update photo set album_id=#{albumId} where photo_id=#{photoId}
    </update>

    <update id="moveToRecycleBinByPhotoId">
        update photo set in_recycle_bin=1,delete_time=#{time} where photo_id=#{photoId}
    </update>

    <update id="updateByPhotoId">
        update photo set name=#{name},description=#{description},album_id=#{albumId},is_public=#{isPublic} where photo_id=#{photoId}
    </update>
</mapper>