<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newbee.smart_album.dao.mapper.RetrievePasswordMapper">

    <insert id="insert">
        insert into retrieve_password (user_id,sid,create_time) values (#{userId},#{sid},#{time});
    </insert>

    <select id="selectUserIdBySid" resultType="INTEGER">
        select user_id from retrieve_password where sid=#{sid} limit 1
    </select>

    <select id="selectRetrievePasswordIdWhereExpired" resultType="INTEGER">
        select retrieve_password_id from retrieve_password where create_time &lt;= (SELECT DATE_SUB(now(),interval 1 day))
    </select>

    <delete id="deleteByRetrievePasswordId">
        delete from retrieve_password where retrieve_password_id=#{id}
    </delete>

    <delete id="deleteBySid">
        delete from retrieve_password where sid=#{sid}
    </delete>
</mapper>